.app-inside-border {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  border: 0.5px solid black;
  border-radius: 30% 80% 250% 900%;
}

.app-outside-border {
  max-width: 600px;
  margin: 30px auto;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 5%;
}

h3 ul {
  font-family: "Amiri", serif;
  font-family: "EB Garamond", serif;
  font-size: 15px;
  list-style-type: none;
  color: blue;
  position: relative;
  top: -70px;
  left: -25px;
}

h4 {
  font-family: "Amiri", serif;
  font-family: "EB Garamond", serif;
  color: #0056ba;
  position: relative;
  top: -30px;
  text-align: center;
}

form {
  font-family: "EB Garamond", serif;
  margin: 20px 5px 20px 15px;
  line-height: 2;
  font-size: 18px;
  max-width: 400px;
}

.time-date {
  font-family: "EB Garamond", serif;
  font-size: 16px;
  list-style-type: none;
  margin-left: -25px;
  color: #0069d9;
}

.currentCity {
  font-family: "EB Garamond", serif;
  position: relative;
  color: black;
  font-size: 40px;
  left: 15px;
  top: 15px;
}

.weather-image {
  color: orange;
  font-size: 60px;
  position: relative;
  top: -3px;
  left: 5px;
}

.degrees {
  font-family: "EB Garamond", serif;
  font-size: 80px;
  color: yellow;
  position: relative;
  top: 5px;
  left: 5px;
}

.units {
  font-size: 20px;
  position: relative;
  top: -40px;
  left: -3px;
  font-family: "EB Garamond", serif;
}

.tru-feel {
  font-family: "EB Garamond", serif;
  position: relative;
  font-size: 18px;
  left: 70px;
  top: 5px;
  color: #0056ba;
  margin-bottom: 65px;
}

.daily-forecast {
  font-family: "Amiri", serif;
  font-family: "EB Garamond", serif;
  top: -20px;
  color: black;
  letter-spacing: 1px;
  text-align: center;
  font-size: 15px;
  padding: 0;
}

.image {
  color: orange;
  position: relative;
  left: 5px;
  font-size: 20px;
}

footer {
  color: #0056ba;
  font-size: 12px;
  text-align: center;
}
